.credit-card-form {
    max-width: 600px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1em;
  }
  
  .credit-card-form h2, .credit-card-form h3 {
    text-align: center;
  }
  
  .full-width {
    width: 100%;
  }
  
  .card-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
  }
  
  .card-option {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .card-option img {
    max-width: 100%;
    height: auto;
  }
  
  .amounts {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1em;
  }
  
  mat-radio-button {
    display: block;
    text-align: center;
  }
  
  button {
    width: 100%;
  }
