.user-profile-card {
    max-width: 600px;
    margin: 50px auto;
    padding: 1em;
    background-color: #1e1e1e; /* Adjust background color */
    color: #fff; /* Text color */
    border-radius: 10px; /* Rounded corners */
    text-align: center;
  }
  
  .avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px; /* Add margin to separate avatar from title */
  }
  
  .rounded-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff; /* White border around avatar */
  }
  
  .mat-card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #444; /* Divider line */
    padding-bottom: 16px;
    margin-bottom: 16px;
  }
  
  .mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 16px;
  }
  
  .mat-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Add some space between buttons */
  }
  
  .button-container button {
    color: #ff4081; /* Button text color */
  }
  
  .button-container button:hover {
    background-color: #ff4081; /* Button hover color */
    color: #fff; /* Hover text color */
  }
  
  .change-password-form {
    margin-top: 20px;
    width: 100%;
    max-width: 400px;
  }
  
  .mat-form-field {
    width: 100%;
  }

  .submit {
    margin: 10px;
  }

  .form-btns {
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }
  
  
  
  @media (min-width: 960px) {
  
    .auth-form-container mat-form-field {
      margin: 1em 0;
      width: 75%
    }
  
  }
  
  @media (min-width: 1260px) {
    .auth-form-container mat-form-field {
      margin: 1em 0;
      width: 40%
    }
  }