/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top left, #181023, #0b0519);
  color: #c3b3d8;
  margin: 0;
  padding: 0;
  height: 100%;
}

footer {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  width: 100%;
  padding: 10px 10px;
  background: linear-gradient(to bottom, #8e6eac, #450d80);
  color: #ffffff;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
}

header {
  min-height: 100px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background: linear-gradient(to bottom, #9f88b4, #450d80);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
