<div class="games-wrapper">
  <div class="game-container">
    <div class="game-slots">
      <div class="button-overlay">
        <button class="transparent-button play-button" routerLink="/slotsy">Play</button>
        <button class="transparent-button info-button" (click)="openInfoDialog('game-slots')">Info</button>
      </div>
    </div>
  </div>
  <div class="game-container">
    <div class="game-bandit">
      <div class="button-overlay">
        <button class="transparent-button play-button" routerLink="/roulette">Play</button>
        <button class="transparent-button info-button" (click)="openInfoDialog('game-bandit')">Info</button>
      </div>
    </div>
  </div>
</div>
