<div *ngIf="!showMatchHistory && !showTransactionHistory">
  <table mat-table [dataSource]="Users" class="mat-elevation-z8">

    <!-- User ID Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> User ID </th>
      <td mat-cell *matCellDef="let user"> {{ user.userId }} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
    </ng-container>

    <!-- Nick Name Column -->
    <ng-container matColumnDef="nickName">
      <th mat-header-cell *matHeaderCellDef> Nick Name </th>
      <td mat-cell *matCellDef="let user"> {{ user.nickName }} </td>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
      <th mat-header-cell *matHeaderCellDef> Avatar </th>
      <td mat-cell *matCellDef="let user">
        <img [src]="user.avatar" alt="Avatar" width="50" height="50">
      </td>
    </ng-container>

    <!-- Credits Column -->
    <ng-container matColumnDef="credits">
      <th mat-header-cell *matHeaderCellDef> Credits </th>
      <td mat-cell *matCellDef="let user"> {{ user.credits }} </td>
    </ng-container>

    <!-- User Type Column -->
    <ng-container matColumnDef="userType">
      <th mat-header-cell *matHeaderCellDef> User Type </th>
      <td mat-cell *matCellDef="let user"> {{ user.userType }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let user">
        <button mat-button (click)="RemoveUser(user.userId)">Delete</button>
        <button mat-button (click)="getMatchHistory(user.userId)">Game history</button>
        <button mat-button (click)="funcshowTransactionHistory(user.userId)">transaction history</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<!-- Match History Section -->
<div *ngIf="showMatchHistory">
  <button mat-button (click)="goBack()">Go Back</button>

  <!-- Bandit History Table -->
  <div *ngIf="hisBandit.length > 0">
    <h2>Bandit History</h2>
    <table mat-table [dataSource]="hisBandit" class="mat-elevation-z8">
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <!-- Position1 Column -->
      <ng-container matColumnDef="position1">
        <th mat-header-cell *matHeaderCellDef> Position 1 </th>
        <td mat-cell *matCellDef="let element"> {{iconMap[element.position1]}} </td>
      </ng-container>

      <!-- Position2 Column -->
      <ng-container matColumnDef="position2">
        <th mat-header-cell *matHeaderCellDef> Position 2 </th>
        <td mat-cell *matCellDef="let element"> {{iconMap[element.position2]}} </td>
      </ng-container>

      <!-- Position3 Column -->
      <ng-container matColumnDef="position3">
        <th mat-header-cell *matHeaderCellDef> Position 3 </th>
        <td mat-cell *matCellDef="let element"> {{iconMap[element.position3]}} </td>
      </ng-container>

      <!-- Min Bet Column -->
      <ng-container matColumnDef="minbet">
        <th mat-header-cell *matHeaderCellDef> Min Bet </th>
        <td mat-cell *matCellDef="let element"> {{element.minbet}} </td>
      </ng-container>

      <!-- Max Bet Column -->
      <ng-container matColumnDef="maxbet">
        <th mat-header-cell *matHeaderCellDef> Max Bet </th>
        <td mat-cell *matCellDef="let element"> {{element.maxbet}} </td>
      </ng-container>

      <!-- Bet Amount Column -->
      <ng-container matColumnDef="betAmount">
        <th mat-header-cell *matHeaderCellDef> Bet Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.betAmount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['date', 'amount', 'position1', 'position2', 'position3', 'minbet', 'maxbet', 'betAmount']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['date', 'amount', 'position1', 'position2', 'position3', 'minbet', 'maxbet', 'betAmount']"></tr>
    </table>
  </div>

  <!-- Roulette History Table -->
  <div *ngIf="hisRoulette.length > 0">
    <h2>Roulette History</h2>
    <table mat-table [dataSource]="hisRoulette" class="mat-elevation-z8">
      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
      </ng-container>

      <!-- Amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container>

      <!-- Red Column -->
      <ng-container matColumnDef="red">
        <th mat-header-cell *matHeaderCellDef> Red </th>
        <td mat-cell *matCellDef="let element"> {{element.red ? 'Yes' : 'No'}} </td>
      </ng-container>

      <!-- Black Column -->
      <ng-container matColumnDef="black">
        <th mat-header-cell *matHeaderCellDef> Black </th>
        <td mat-cell *matCellDef="let element"> {{element.black ? 'Yes' : 'No'}} </td>
      </ng-container>

      
      <!-- Selected Column -->
      <ng-container matColumnDef="selected">
        <th mat-header-cell *matHeaderCellDef> Rolled </th>
        <td mat-cell *matCellDef="let element"> {{element.selected !== -1 ? element.selected : 'None'}} </td>
      </ng-container><!-- Rolled Column -->

      <ng-container matColumnDef="rolled">
        <th mat-header-cell *matHeaderCellDef> Selected </th>
        <td mat-cell *matCellDef="let element"> {{element.rolled}} </td>
      </ng-container>


      <!-- Min Bet Column -->
      <ng-container matColumnDef="minbet">
        <th mat-header-cell *matHeaderCellDef> Min Bet </th>
        <td mat-cell *matCellDef="let element"> {{element.minbet}} </td>
      </ng-container>

      <!-- Max Bet Column -->
      <ng-container matColumnDef="maxbet">
        <th mat-header-cell *matHeaderCellDef> Max Bet </th>
        <td mat-cell *matCellDef="let element"> {{element.maxbet}} </td>
      </ng-container>

      <!-- Bet Amount Column -->
      <ng-container matColumnDef="betAmount">
        <th mat-header-cell *matHeaderCellDef> Bet Amount </th>
        <td mat-cell *matCellDef="let element"> {{element.betAmount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['date', 'amount', 'red', 'black', 'rolled', 'selected', 'minbet', 'maxbet', 'betAmount']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['date', 'amount', 'red', 'black','selected', 'rolled',  'minbet', 'maxbet', 'betAmount']"></tr>
    </table>
  </div>
</div>


<!-- Transaction History Section -->
<div *ngIf="showTransactionHistory">
  <button mat-button (click)="goBack()">Go Back</button>
  <table mat-table [dataSource]="transactionHistory" class="mat-elevation-z8">

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.date | date}} </td>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.amount}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['date', 'amount']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['date', 'amount']"></tr>
  </table>
</div>
